matplotlib>=1.5.1
numpy>=1.11.2
pandas>=0.18.1
scipy>=0.18.1
Cython>=0.25.1
ipython>=5.1.0
memory_profiler>=0.41
numexpr>=2.6.1
psutil>=5.0.0
scikit-learn>=0.18.1
# sphinx_gallery>=0.1.0
# munkres>=1.0
